.redContainer{
  background-color: crimson;
}

.blueContainer{
  background-color:dodgerblue;
}

html {
  background-color: rgb(56, 56, 56);
}

#navbarWrapper{
  background-color: lightslategray;
}

.tripContainer{
  background-color: lightslategray;
}