html {
  background-color: rgb(56, 56, 56);
}

body {
  font-family: monospace;
}

#loadingText {
  color: rgb(235, 235, 235);
}

#footer {
  max-width: 100%;
  align-self: center;
  justify-self: center;
}

#navbarTotalWrapper {
  display: grid;
  grid-template-rows: auto 1fr 2em;
  width: 100%;
  height: 100vh;
  top: 0;
}

#navbarWrapper {
  background-image: linear-gradient(to bottom, rgb(171, 210, 250), #7BB8F7);
  /*!! use auto adjusting grid instead of flex*/
  display: flex;
  justify-content: space-between;
}
#navbarWrapper #leftNavbar {
  display: flex;
  justify-content: space-around;
}
#navbarWrapper #leftNavbar a {
  text-decoration: none;
  color: black;
}
#navbarWrapper #leftNavbar .navbarLink {
  height: 100%;
  width: 40%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}
#navbarWrapper #leftNavbar .navbarLink:hover {
  background-color: rgba(56, 56, 56, 0.3);
}
#navbarWrapper #centerNavbar {
  text-align: center;
}
#navbarWrapper #rightNavbar {
  display: flex;
  justify-content: flex-end;
  padding-right: 1em;
}
#navbarWrapper #rightNavbar #rightNavInnerWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.2em;
}
#navbarWrapper #rightNavbar #rightNavInnerWrap h2 {
  display: inline-block;
  margin: 0 0 10% 0;
  font-size: 1.5em;
}
#navbarWrapper #rightNavbar #rightNavInnerWrap button {
  background-color: lightslategray;
  border: none;
  border-radius: 1em;
  font-size: 0.7em;
}
#navbarWrapper #rightNavbar #rightNavInnerWrap button:hover {
  cursor: pointer;
  background-color: rgba(119, 136, 153, 0.5);
}
#navbarWrapper .navbarSection {
  width: 33%;
}

#loginPageWrapper {
  display: flex;
  justify-content: center;
}
#loginPageWrapper .loginBlock {
  background-color: #7BB8F7;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  margin-top: 5vh;
  padding: 2.5vh;
  width: 40vw;
}
#loginPageWrapper .loginBlock button {
  border-radius: 1em;
  background-color: lightslategray;
  border: none;
  font-size: 0.7em;
  padding: 0 10% 0 10%;
  width: 70%;
  align-self: center;
}
#loginPageWrapper .loginBlock button:hover {
  background-color: rgba(119, 136, 153, 0.5);
  cursor: pointer;
}
#loginPageWrapper .loginBlock form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#loginPageWrapper .loginBlock input {
  background-color: rgb(171, 210, 250);
  border: none;
  font-size: 0.7em;
}
#loginPageWrapper #loginError {
  color: rgb(153, 13, 13);
  font-size: 0.7em;
  text-align: center;
}

#homeComponentWrapper {
  top: 0;
  margin-top: 0;
}
#homeComponentWrapper #tripsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#homeComponentWrapper #tripsWrapper #tripsKey {
  color: rgb(235, 235, 235);
  margin-top: 0;
}
#homeComponentWrapper #tripsWrapper a {
  text-decoration: none;
  color: black;
}
#homeComponentWrapper h1 {
  color: rgb(235, 235, 235);
}
#homeComponentWrapper h2 {
  color: rgb(235, 235, 235);
}
#homeComponentWrapper .tripContainer {
  background-color: #7BB8F7;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  margin-bottom: 2em;
  padding: 0 1em;
  color: black;
  font-size: 1em;
  width: 70vh;
}
#homeComponentWrapper .tripContainer h2 {
  color: black;
}
#homeComponentWrapper .tripContainer:hover {
  background-color: rgb(171, 210, 250);
}

#createTripOuterWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}
#createTripOuterWrapper #createTripWrapper {
  background-color: #7BB8F7;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  background-color: rgb(210, 250, 171);
  height: fit-content;
  width: 70vh;
}
#createTripOuterWrapper #createTripWrapper input {
  background-color: rgb(200, 200, 200);
  font-size: 0.7em;
}
#createTripOuterWrapper #createTripWrapper form {
  padding: 0 10% 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#createTripOuterWrapper #createTripWrapper #tripDescriptionInput {
  width: 30vh;
  height: 10ch;
  background-color: rgb(200, 200, 200);
}
#createTripOuterWrapper #createTripWrapper button {
  background-color: #b8f77b;
  border-radius: 2em;
  border: none;
  margin: 1em 0 1em 0;
  font-size: 1em;
}
#createTripOuterWrapper #createTripWrapper button:hover {
  cursor: pointer;
  color: lime;
  background-color: rgba(0, 0, 0, 0);
}
#createTripOuterWrapper #createTripWrapper #pendingParticipantList {
  display: flex;
  flex-wrap: wrap;
}
#createTripOuterWrapper #createTripWrapper .stagedParticipant {
  background-color: #7BB8F7;
  border-radius: 1em;
  padding: 0 0.5em 0 0.5em;
  margin: 0 0.5em 0 0.5em;
}
#createTripOuterWrapper #createTripWrapper .stagedParticipant button {
  background-color: rgba(0, 0, 0, 0);
}
#createTripOuterWrapper #createTripWrapper .stagedParticipant button:hover {
  color: rgb(177, 54, 54);
}

.tripViewWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas: "info info info" "driver driver party" "driver driver party";
  max-height: 90vh;
}
.tripViewWrapper #tripInformation {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #7BB8F7;
  border-top: solid #305c88 0.5em;
  border-radius: 0 0 5em 5em;
  padding-bottom: 1em;
}
.tripViewWrapper #tripInformation #tripDetails {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 1.3em;
}
.tripViewWrapper #tripInformation #tripDetails .detailWrapper {
  width: 33%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tripViewWrapper #tripInformation #tripDescription {
  width: calc(100% - 6em);
  margin-top: 1em;
}
.tripViewWrapper #tripInformation #deleteTrip, .tripViewWrapper #tripInformation #leaveTrip {
  background-color: #7c5050;
}
.tripViewWrapper #tripInformation #deleteTrip:hover, .tripViewWrapper #tripInformation #leaveTrip:hover {
  cursor: pointer;
  background-color: red;
}
.tripViewWrapper #participantsWrapper, .tripViewWrapper #driversWrapper {
  background-color: #7BB8F7;
  grid-area: party;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2em 2em 0 0;
  margin: 1em 0.5em 0 0.5em;
}
.tripViewWrapper #participantsWrapper #participantKey, .tripViewWrapper #driversWrapper #participantKey {
  text-align: center;
  width: 80%;
  margin-bottom: 1em;
}
.tripViewWrapper #participantsWrapper #participantList, .tripViewWrapper #driversWrapper #participantList {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  width: 100%;
}
.tripViewWrapper #participantsWrapper .singleParticipant, .tripViewWrapper #driversWrapper .singleParticipant {
  display: flex;
  justify-content: space-between;
  background-color: rgb(171, 210, 250);
  width: 80%;
  margin-bottom: 0.3em;
  font-size: 1.2em;
}
.tripViewWrapper #participantsWrapper .singleParticipant button, .tripViewWrapper #driversWrapper .singleParticipant button {
  background-color: rgba(0, 0, 0, 0);
  padding: 0 0.4em;
  border-radius: 0;
  border: solid black 1px;
}
.tripViewWrapper #participantsWrapper .singleParticipant button:hover, .tripViewWrapper #driversWrapper .singleParticipant button:hover {
  background-color: #7c5050;
  cursor: pointer;
}
.tripViewWrapper #participantsWrapper #organizerParticipant, .tripViewWrapper #driversWrapper #organizerParticipant {
  background-color: rgb(210, 250, 171);
}
.tripViewWrapper #driversWrapper {
  grid-area: driver;
}
.tripViewWrapper #driversWrapper #loadingText {
  color: black;
}
.tripViewWrapper #driversWrapper #driversBlock {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}
.tripViewWrapper #driversWrapper #driversBlock .singleDriverWrapper {
  background-color: #4B9EF4;
  border-radius: 1em;
  margin: 0.5em;
  padding: 0.25em;
}
.tripViewWrapper #driversWrapper #driversBlock .singleDriverWrapper .singleDriverHeader {
  display: flex;
  justify-content: space-around;
}
.tripViewWrapper #driversWrapper #driversBlock .singleDriverWrapper .singleDriverHeader .sdhSide {
  width: 5em;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}
.tripViewWrapper #driversWrapper #driversBlock .singleDriverWrapper .singleDriverHeader .sdhCenter {
  width: fit-content;
  padding: 0 1em;
}
.tripViewWrapper #driversWrapper #driversBlock .singleDriverWrapper .singleDriverHeader button {
  background-color: rgba(0, 0, 0, 0);
  padding: 0 0.4em;
  border-radius: 0;
  border: solid black 1px;
  background-color: #543636;
  margin: 1em 1em 0 0;
}
.tripViewWrapper #driversWrapper #driversBlock .singleDriverWrapper .singleDriverHeader button:hover {
  background-color: #7c5050;
  cursor: pointer;
}
.tripViewWrapper #driversWrapper #driversBlock .singleDriverWrapper .singleDriverBody {
  margin-bottom: 1em;
}
.tripViewWrapper #driversWrapper #driversBlock .singleDriverWrapper .singleDriverSeats {
  display: flex;
  flex-wrap: wrap;
}
.tripViewWrapper #driversWrapper #driversBlock .singleDriverWrapper .singleDriverSeats .singleSeatEmpty, .tripViewWrapper #driversWrapper #driversBlock .singleDriverWrapper .singleDriverSeats .singleSeatTaken {
  background-color: rgb(56, 56, 56);
  border: none;
  border-radius: 1em;
  width: 75px;
  height: 75px;
  margin: 0 1em 1em 1em;
  background-color: rgb(171, 210, 250);
}
.tripViewWrapper #driversWrapper #driversBlock .singleDriverWrapper .singleDriverSeats .singleSeatEmpty:hover, .tripViewWrapper #driversWrapper #driversBlock .singleDriverWrapper .singleDriverSeats .singleSeatTaken:hover {
  cursor: pointer;
  background-color: rgb(56, 56, 56);
  color: rgb(235, 235, 235);
}
.tripViewWrapper #driversWrapper #driversBlock .singleDriverWrapper .singleDriverSeats .singleSeatTaken {
  background-color: rgb(56, 56, 56);
  color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tripViewWrapper #driversWrapper #driversBlock .singleDriverWrapper .singleDriverSeats .singleSeatTaken:hover {
  cursor: default;
}
.tripViewWrapper #driversWrapper #driversBlock .singleDriverWrapper .singleDriverSeats .singleSeatTaken button {
  grid-area: exit;
  background-color: rgba(0, 0, 0, 0);
  border: 0.1em solid;
}
.tripViewWrapper #driversWrapper #driversBlock .singleDriverWrapper .singleDriverSeats .singleSeatTaken button:hover {
  background-color: #7c5050;
  cursor: pointer;
}
.tripViewWrapper #driversWrapper #driversBlock .singleDriverWrapper .singleDriverSeats .singleSeatTaken .seatName {
  margin-bottom: 10%;
  text-overflow: ellipsis;
}
.tripViewWrapper #driversWrapper #driversBlock #driverFormButton {
  background-color: #b8f77b;
  height: 50%;
  min-height: 75px;
  border: none;
  border-radius: 1em;
  align-self: center;
  margin-left: 3em;
  font-size: 1em;
}
.tripViewWrapper #driversWrapper #driversBlock #driverFormButton:hover {
  background-color: rgb(56, 56, 56);
  cursor: pointer;
  color: rgb(235, 235, 235);
}
.tripViewWrapper #driverFormBack {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.5);
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tripViewWrapper #driverFormBack #driverFormWrapper {
  background-color: rgb(210, 250, 171);
  width: 70%;
  padding: 2em;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tripViewWrapper #driverFormBack #driverFormWrapper button {
  border-radius: 1em;
  background-color: lightslategray;
  border: none;
  font-size: 1.2em;
  padding: 0 10% 0 10%;
  align-self: center;
}
.tripViewWrapper #driverFormBack #driverFormWrapper button:hover {
  background-color: rgba(119, 136, 153, 0.5);
  cursor: pointer;
}
.tripViewWrapper #driverFormBack #driverFormWrapper form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1em;
  font-size: 1.2em;
  font-weight: bold;
}
.tripViewWrapper #driverFormBack #driverFormWrapper form input {
  background-color: #b8f77b;
  border: none;
  font-size: 0.7em;
  font-weight: bold;
}
.tripViewWrapper #driverFormBack #driverFormWrapper #closeDriverForm {
  align-self: flex-end;
  background-color: rgba(0, 0, 0, 0);
  padding: 0 0.4em;
  border-radius: 0;
  border: solid black 1px;
  padding: 0 0.4em;
}
.tripViewWrapper #driverFormBack #driverFormWrapper #closeDriverForm:hover {
  background-color: #7c5050;
  cursor: pointer;
}
.tripViewWrapper #driverFormBack #driverFormWrapper #driverFormError {
  color: red;
}
.tripViewWrapper #addParticipant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  padding: 0 1em;
}
.tripViewWrapper #addParticipant input {
  background-color: rgb(171, 210, 250);
  border: none;
  margin: 1em 0;
}
.tripViewWrapper #addParticipant button {
  background-color: gray;
  border: none;
  border-radius: 2em;
}
.tripViewWrapper #addParticipant button:hover {
  cursor: pointer;
  background-color: lightgray;
}

#bigDecisionWrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.5);
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#bigDecisionWrapper #bigDecisionBox {
  background-color: #7c5050;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}
#bigDecisionWrapper #bigDecisionBox #bigDecisionButtons {
  display: flex;
  flex-direction: row;
}
#bigDecisionWrapper #bigDecisionBox #bigDecisionButtons .bigDecisionButton {
  border: solid black 0.2em;
  color: black;
  font-size: 1.5em;
}
#bigDecisionWrapper #bigDecisionBox #bigDecisionButtons #bigDecisionAccept {
  background-color: #543636;
}
#bigDecisionWrapper #bigDecisionBox #bigDecisionButtons #bigDecisionAccept:hover {
  cursor: pointer;
  background-color: #7c5050;
  color: red;
}
#bigDecisionWrapper #bigDecisionBox #bigDecisionButtons #bigDecisionClose {
  background-color: lightslategray;
  margin-right: 2em;
}
#bigDecisionWrapper #bigDecisionBox #bigDecisionButtons #bigDecisionClose:hover {
  cursor: pointer;
  background-color: rgba(119, 136, 153, 0.5);
}

#waitingRoomWrapper {
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: center;
  padding: 0 10vw;
}
#waitingRoomWrapper h1 {
  color: rgb(235, 235, 235);
}
#waitingRoomWrapper a {
  text-decoration: none;
}
#waitingRoomWrapper .tripContainer {
  background-color: #7BB8F7;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  margin-bottom: 2em;
  padding: 0 1em;
  color: black;
  font-size: 1em;
  width: 70vh;
}
#waitingRoomWrapper .tripContainer h2 {
  color: black;
}
#waitingRoomWrapper .tripContainer:hover {
  background-color: rgb(171, 210, 250);
}

#errorPage {
  color: rgb(235, 235, 235);
}
#errorPage a {
  color: rgb(235, 235, 235);
  text-decoration: underline;
}
#errorPage a:hover {
  cursor: pointer;
  color: goldenrod;
}

.redContainer {
  background-color: crimson;
}

.blueContainer {
  background-color: dodgerblue;
}
