
$babyBlue: rgb(171, 210, 250);

html {
  background-color: rgb(56, 56, 56);
}

body{
  font-family:monospace;
}


//most outer div that matters
#navbarTotalWrapper {
  display:grid;
  grid-template-rows: auto 1fr;
  width:100vw;
  height:100vh;
  top:0;
}

//navbar styling
#navbarWrapper {
  background-image: linear-gradient(to bottom, lightslategrey, $babyBlue);
  /*!! use auto adjusting grid instead of flex*/
  display: flex;
  justify-content: space-between;
  
    #leftNavbar{
      display: flex;
      justify-content: space-around;
      a{
        text-decoration: none;
        color:black;
      }
      .navbarLink{
        height:100%;
        width:40%;
        text-align: center;
        display:flex;
        align-items: center;
        justify-content: center;
        font-size:1.2em;
        &:hover{
          background-color: rgba(56, 56, 56, 0.3);
        }
      }
    }

    #centerNavbar{
      text-align: center;
    }

    #rightNavbar{
      display: flex;
      justify-content: flex-end;
      padding-right:1em;

      #rightNavInnerWrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 1.2em;
        h2{
          display: inline-block;
          margin:0 0 10% 0;
          font-size: 1.5em;
        }
        button{
          background-color: lightslategray;
          border:none;
          border-radius: 1em;
          font-size: 0.7em;
          &:hover{
            cursor: pointer;
            background-color: rgba(119, 136, 153, 0.5);
          }
        }
      }
    }

    .navbarSection{
      width:33%
    }

}

#homeComponentWrapper{
  top:0;
  margin-top:0;
}

.tripContainer{
  background-color: lightslategray;
}

#driverFormWrapper{
  background-color: forestgreen;
}

.singleDriverWrapper{
  background-color: teal;
}

.stagedParticipant{
  background-color: lightslategray;
  padding:10px;
  margin: 10px;
  border: solid black;
}

.redContainer{
  background-color: crimson;
}
  
.blueContainer{
  background-color:dodgerblue;
}