
$babyBlue: rgb(171, 210, 250);
$midBlue: #7BB8F7;
$off_white:rgb(235,235,235);
$babyGreen: #d2faab;
$midGreen: #b8f77b;
$danger_color:#7c5050;
$danger_hover:#543636;

@mixin basic-block{
  background-color: $midBlue;
  border-radius: 1em;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size:1.5em;
}

html {
  background-color: rgb(56, 56, 56);
}

body{
  font-family:monospace;
}


//most outer div that matters
#navbarTotalWrapper {
  display:grid;
  grid-template-rows: auto 1fr;
  width:100vw;
  height:100vh;
  top:0;
}

//navbar styling
#navbarWrapper {
  background-image: linear-gradient(to bottom, $babyBlue, $midBlue);
  /*!! use auto adjusting grid instead of flex*/
  display: flex;
  justify-content: space-between;
  
    #leftNavbar{
      display: flex;
      justify-content: space-around;
      a{
        text-decoration: none;
        color:black;
      }
      .navbarLink{
        height:100%;
        width:40%;
        text-align: center;
        display:flex;
        align-items: center;
        justify-content: center;
        font-size:1.2em;
        &:hover{
          background-color: rgba(56, 56, 56, 0.3);
        }
      }
    }

    #centerNavbar{
      text-align: center;
    }

    #rightNavbar{
      display: flex;
      justify-content: flex-end;
      padding-right:1em;

      #rightNavInnerWrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 1.2em;
        h2{
          display: inline-block;
          margin:0 0 10% 0;
          font-size: 1.5em;
        }
        button{
          background-color: lightslategray;
          border:none;
          border-radius: 1em;
          font-size: 0.7em;
          &:hover{
            cursor: pointer;
            background-color: rgba(119, 136, 153, 0.5);
          }
        }
      }
    }

    .navbarSection{
      width:33%
    }

}

//login page styling
#loginPageWrapper{
  display: flex;
  justify-content: center;
  .loginBlock{
    @include basic-block;
    margin-top:5vh;
    padding:2.5vh;
    width:40vw;
    button{
      border-radius: 1em;
      background-color: lightslategray;
      border:none;
      font-size: 0.7em;
      padding: 0 10% 0 10%;
      width:70%;
      align-self: center;
      &:hover{
        background-color: rgba(119, 136, 153, 0.5);
        cursor: pointer;
      }
    }
    form{
      display: flex;
      flex-direction: column;
    }
    input{
      background-color: $babyBlue;
      border:none;
      font-size:0.7em;
    }
  }
}

#homeComponentWrapper{
  #tripsWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a{
      text-decoration: none;
      color:black;
    }
  }

  h1{
    color: $off_white;
  }

  h2{
    color: $off_white;
  }

  .tripContainer{
    @include basic-block;
    margin-bottom: 2em;
    h2{
      color:black;  
    }
    font-size: 1em;
    width: 70vh;
    &:hover{
      background-color: $babyBlue;
    }
  }
  top:0;
  margin-top:0;
}

#createTripOuterWrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  #createTripWrapper{
    @include basic-block;
    background-color: $babyGreen;
    height: fit-content;
    width:70vh;
    input{
      background-color: rgb(200, 200, 200);
      font-size:0.7em;
    }
    form{
      padding: 0 10% 0 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #tripDescriptionInput{
      width:30vh;
      height:10ch;
      background-color: rgb(200, 200, 200);
    }

    button{
      background-color: $midGreen;
      border-radius: 2em;
      border:none;
      margin: 1em 0 1em 0;
      font-size: 1em;
      &:hover{
        cursor: pointer;
        color: lime;
        background-color: rgba(0,0,0,0);
      }
    }
    #pendingParticipantList{
      display: flex;
      flex-wrap: wrap;
    }

    .stagedParticipant{
      background-color: $midBlue;
      border-radius: 1em;
      padding: 0 0.5em 0 0.5em;
      margin: 0 0.5em 0 0.5em;
      button{
        background-color: rgba(0,0,0,0);
        &:hover{
          color:rgb(177, 54, 54);
        }
      }
    }

  }
}


#driverFormWrapper{
  background-color: forestgreen;
}

.singleDriverWrapper{
  background-color: teal;
}


.redContainer{
  background-color: crimson;
}
  
.blueContainer{
  background-color:dodgerblue;
}